<div class="row_table"> 
	<img src="/assets/menu.png" class="menu_logo">
	<center>
		<table class="table table-hover table-bordered" >
			<th>Image</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<div class="row_table"> 
		      <% @dishes.each do |dish| %>
				<div class="list-block">
					<div class="column">
				        <div class="course_box">
						    <tr>
							    <td><%= dish.present? ? image_tag(dish.try(:image).try(:url),:width => 400, :height => 300, :class => 'save_image_layout') : image_tag("/assets/1.png",:width => 400, :height => 300, :class => 'save_image_layout') %></td>
							    <td><%= link_to dish.try(:name),dish_path(id: dish.id), method: :get %></td>  
							    <td><%= dish.try(:description)%></td>
							    <td><%= dish.try(:price)%></td>
						   </tr>
						  </div>
						</div>
				</div>
		     <% end %> 
			</div>
			</div>
		</table>
    </center>
</div>