<div class="row"> 
  <div class="column">
    <img src="/assets/chameli_dallas_menu.png">
    <img src="/assets/chameli_dallas_menu.png">
    <img src="/assets/chameli_dallas_menu.png">
  </div>
  <div class="column">
    <img src="/assets/chameli_dallas_menu.png">
    <img src="/assets/chameli_dallas_menu.png">
    <img src="/assets/chameli_dallas_menu.png">
  </div>
   <div class="column">
    <img src="/assets/chameli_dallas_menu.png">
    <img src="/assets/chameli_dallas_menu.png">
    <img src="/assets/chameli_dallas_menu.png">
  </div>
</div>